.calendar-body {
    display: grid;
}

.calendar-weekDays {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.calendar-monthDays{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.monthname{
    display: grid;
}

h1{
    font-size: 2rem;
    padding: 5%;
    margin-bottom: -2%;
    text-align: center;
}